header {
  nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 50px;
    transition: 0.4s;
    .menu {
      display: flex;
      gap: 30px;
      color: #ff4510;
      font-size: 1.5em;
      transition: 0.4s;
      a {
        cursor: pointer;
      }
    }
    .portfolioLogo {
      color: #fff;
      font-size: 1.5em;
      a {
        cursor: pointer;
      }
    }
  }
  nav.active {
    position: fixed;
    top: 0;
    background: #ff4510;
    z-index: 100;
    a {
      color: #fff;
    }
  }
}
.main {
  img {
    width: 100%;
    height: 100%;
  }
}

.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  .introCont {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: auto;
    .introContImg {
      img {
        width: 350px;
        height: 450px;
        border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
      }
    }
    .introContDesc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      .introContDescSubT {
        font-size: 1em;
      }
      .introConDescTit {
        font-size: 1.2em;
        font-weight: 650;
        color: #eb6565;
      }
      .introMore {
        button {
          width: 100px;
          padding: 10px;
          border: 1px solid #ff4510;
          border-radius: 20px;
          color: #ff4510;
          cursor: pointer;
          text-align: center;
        }
        .dialogInner {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .dialogContent {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 200px;
              height: 200px;
            }
            div {
              text-align: center;
            }
          }
        }
        dialog::backdrop {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}

.design {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  .designOutLine {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 200px;
      height: 200px;
    }
  }
}

.flowers {
  width: 100%;
  img {
    width: 100%;
    height: 450px;
  }
}

.insta {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .instaText {
    font-size: 2.5em;
    font-weight: 500;
    color: #ff4510;
  }
  a .instaID {
    color: #ff4510;
  }
}

.howto {
  .howtoInner {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #ff4510;
    .howtoTitle {
      font-size: 2.5em;
    }
    .howtoButton {
      border: 1px solid #ff4510;
      padding: 10px 30px;
      border-radius: 20px;
    }
  }
}

.basket {
  img {
    width: 100%;
  }
}

.slide {
  .slide_wrapper {
    position: relative;
    width: 660px;
    margin: 0 auto;
    height: 200px;
    overflow: hidden;
    .slides {
      position: absolute;
      left: 0;
      top: 0;
      li {
        width: 200px;
        height: 200px;
        background: #ccc;
        float: left;
        list-style: none;
      }
      li:not(:last-child) {
        margin-right: 30px;
      }
    }
    .slides.animated {
      transition: 0.5s ease-out;
    }
  }
  .controls {
    text-align: center;
    margin-top: 50px;
    span {
      background: #000;
      color: white;
      padding: 10px 20px;
    }
  }
}

footer {
  width: 100%;
  height: 430px;
  background-color: #ff4510;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .footerInner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .footerTitle {
      font-size: 2em;
    }
    .footerMenu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .footerSnsLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
      .footerTerms {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  header {
    display: none;
  }
  .intro {
    height: 50vh;
    .introCont {
      width: 600px;
      .introContImg {
        img {
          width: 200px;
          height: 300px;
        }
      }
      .introContDesc {
        font-size: 0.8em;
        .introMore {
          display: none;
        }
      }
    }
  }
  .design {
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    height: 80vh;
    padding: 10px;
    .introCont {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
  }
}

@media screen and (max-width: 450px) {
  header {
    display: none;
  }
